.app__body {
  display: flex;
  padding-top: 65px;
}

.app-button {
  display: none;
  background-color: green;
  color: white;
}

@media only screen and (max-width: 700px) {
  .app-button {
    position: fixed;
    left: 50%;
    transform: translate(-63%, -50%);
    bottom: 0;
    display: block;
  }
}