.header {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  height: 65px;
  width: 100%;
  background-color: #E0E0E0;
  border-bottom: 6px solid #f37223;
  padding: 10px;
}

.header__logo {
  text-align: center;
}